<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../../public/jquery-weui/lib/weui.min.css">
    <link rel="stylesheet" href="../../public/jquery-weui/css/jquery-weui.css">
    <script src="../../public/jquery-weui/lib/jquery-2.1.4.js"></script>
    <script src="../../public/jquery-weui/lib/fastclick.js"></script>
    <script src="../../public/jquery-weui/js/jquery-weui.js"></script>
    {block name="private_file"}
    {/block}
    {block name="private_css"}
    {/block}
</head>
{block name="content"}
{/block}
</html>