{extend name="common_page" /}
{block name="private_file"}
{/block}
{block name="content"}
<body>
	<div class="wrapper wrapper-content  animated fadeInRight">
    	<div class="row">
	        <div class="ibox">
	        	<div class="ibox-title">
	        		<h5>修改密码</h5>
	        	</div>
	            <div class="ibox-content">
					<form id="form_data" name="form_data" class="well form-horizontal clearfix">
						<div class="form-group">
							<label class="col-sm-4 control-label" for="dept_no">原始密码：</label>
							<div class="col-sm-8">
								<input class="form-control" type="password" id="old_psw" name="old_psw" >
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label" for="dept_no">新密码：</label>
							<div class="col-sm-8">
								<input class="form-control" type="password" id="new_psw" name="new_psw" >
							</div>
						</div>  
						<div class="form-group">
							<label class="col-sm-4 control-label" for="dept_no">再次输入新密码：</label>
							<div class="col-sm-8">
								<input class="form-control" type="password" id="confirm_psw" name="confirm_psw" >
							</div>
						</div>    
						<div class="form-group">
							<div class="col-xs-4 ">
							</div>
							<div class="col-xs-2 ">
								<a onclick="save();" id="save_btn" class="btn btn-sm btn-primary ">
									<i class="fa fa-save"></i>
									确认修改
								</a>
							</div>
						</div>
					</form>     		
	            </div>
	        </div>
	    </div>
	</div>
</body>
<script type="text/javascript">
	function save(){
		var send_data=$("#form_data").serializeArray();
		console.log(send_data);
		$.post("{:url('save_password')}",send_data,function(data){
			ui_alert(data['msg']);
			console.log(data);
		});
	}
</script>
{/block}